<header>
  <nav class="navbar">
    <a href="/" class="navbar__link">Home</a>
    <% if (reqInfo.authenticated) { %>
      <a href="/user/profile" class="navbar__link">My Profile</a>
      <% if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager")) { %>
        <a href="/user/users" class="navbar__link">Users</a>
      <% } %>
      <% if (reqInfo.roles.includes("Admin")) { %>
        <a href="/clients" class="navbar__link">Clients</a>
      <% } %>
      <a href="/products" class="navbar__link">Products</a>
      <a href="/invoices" class="navbar__link">Invoices</a>
      <a href="/user/logout" class="navbar__link">Logout</a>
    <% } else { %>
      <a href="/user/register" class="navbar__link">Register</a>
      <a href="/user/login" class="navbar__link">Login</a>
    <% } %>
  </nav>
  
</header>
