<form id="loginForm" action="/user/login" method="POST">
  <table>
    <tbody>
      <tr>
        <td>User Name:</td>
        <td>
          <input
            id="usernameInput"
            name="username"
            type="text"
            placeholder="Enter your username"
            value="<%= user.username ? user.username : '' %>"
          />
        </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input id="passwordInput" name="password" type="password" placeholder="Enter your password" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input id="submitButton" type="submit" value="Login" /></td>
      </tr>
    </tbody>
  </table>
</form>
<%= errorMessage ? errorMessage : "" %>
