<h1>Users</h1>
<div class="searchbar">
  <form class="search-inputs" action="/user/users" method="GET">
    <input class="inputfield" type="text" name="search" placeholder="Search by username">
    <button type="submit" class="btn btn-Search">Search</button>
  </form>
  <div class="create-btn">
    <% if (reqInfo.roles.includes("Admin")) { %>
      <a href="/user/register"><button class="btn btn-Create">New User</button></a>
    <% } %>
  </div>
</div>
<div class="Detail-Delete">
  <% for (let i = 0; i < users.length; i++ ) { %>
    <a class="edit-a" href="/user/users/<%= users[i].id %>"><%= users[i].username %></a>
    <div class="btn-class">
      <% if (reqInfo.roles.includes("Admin")) { %>
        <a href="/user/users/<%= users[i].id %>/delete"><button class="btn btn-Delete">Delete</button></a>
      <% } %>
    </div>
  <% } %>
</div>
